[submodule "external/zed-opencv-calibration"]
	path = external/zed-opencv-calibration
	url = git@github.com:diegomarzaa/zed-opencv-calibration.git
	branch = feature/remote-calibration
[submodule "external/image_pipeline"]
	path = external/image_pipeline
	url = git@github.com:ros-perception/image_pipeline.git
[submodule "external/zed-ros2-wrapper"]
	path = external/zed-ros2-wrapper
	url = git@github.com:stereolabs/zed-ros2-wrapper.git
